@tailwind base;
@tailwind components;
@tailwind utilities;

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}
@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}
@keyframes counter {
    from {
        --num: 0;
    }
    to {
        --num: 40;
    }
}    